<html>
<head>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>
        @media screen and (max-device-width: 480px) {
            body {
                background: #ccc;
            }
        }
    </style>
</head>
<body style="width: 100%">
    <div style="width: 100%" id="app">
        <div class="wrap-collabsible"> <input id="collapsibleMain" class="toggle" type="checkbox"> <label for="collapsibleMain" class="lbl-toggle">Main Options</label>
            <div class="collapsible-content">
                <div class="content-inner">
                    <ul class="wrapper">
                        <li class="app-row">
                            <label for="name">Name</label>
                            <input type="text" id="name" v-model="name" placeholder="Name" @change="onOptionsChange($event)">
                        </li>
                        <li class="app-row">
                            <label for="from">From</label>
                            <input type="text" id="from" v-model="from" placeholder="From" @change="onOptionsChange($event)">
                        </li>
                        <li class="app-row">
                            <label for="company">Company</label>
                            <input type="text" id="company" v-model="company" placeholder="Company" @change="onOptionsChange($event)">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap-collabsible"> <input id="collapsibleOther" class="toggle" type="checkbox"> <label for="collapsibleOther" class="lbl-toggle">Other Options</label>
            <div class="collapsible-content">
                <div class="content-inner">
                    <ul class="wrapper">
                        <li class="app-row">
                            <label for="doit">Do (something)</label>
                            <input type="text" id="doit" v-model="doit" placeholder="Do something" @change="onOptionsChange($event)">
                        </li>
                        <li class="app-row">
                            <label for="something">(To) something)</label>
                            <input type="text" id="something" v-model="something" placeholder="The thing to do it to" @change="onOptionsChange($event)">
                        </li>
                    </ul>
                    <ul class="wrapper">
                        <li class="app-row">
                            <label for="noun">Noun</label>
                            <input type="text" id="noun" v-model="noun" placeholder="Enter a noun" @change="onOptionsChange($event)">
                        </li>
                        <li class="app-row">
                            <label for="behavior">Behavior</label>
                            <input type="text" id="behavior" v-model="behavior" placeholder="Enter a behavior" @change="onOptionsChange($event)">
                        </li>
                        <li class="app-row">
                            <label for="thing">Thing</label>
                            <input type="text" id="thing" v-model="thing" placeholder="The Particular thing to fuck (e.g. Year)" @change="onOptionsChange($event)">
                        </li>
                        <li class="app-row">
                            <label for="tool">Tool</label>
                            <input type="text" id="tool" v-model="tool" placeholder="The tool they can't use" @change="onOptionsChange($event)">
                        </li>
                        <li class="app-row">
                            <label for="lang">Language</label>
                            <input type="text" id="lang" v-model="lang" placeholder="Enter a language" @change="onOptionsChange($event)">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap-collabsible"> <input id="collapsibleOutput" class="toggle" type="checkbox"> <label for="collapsibleOutput" class="lbl-toggle">Output</label>
            <div class="collapsible-content">
                <div class="content-inner">
                    <ul class="wrapper">
                        <li class="app-row">
                            <label for="operation">Operation</label>
                            <select id="operation" @change="onSelectChange($event)">
                                <option value="0">-Select-</option>
                                <option v-for="msg in ops" :value="msg.url">{{ msg.name }}</option>
                            </select>
                        </li>
                        <li class="app-message">
                            <label >{{ this.full }}</label>
                        </li>
                        <li class="app-sender">
                            <label >{{ this.sender }}</label>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</body>

</html>